**/node_modules/
**/build/
**/data/
**/temp/
**/dist/

/backend-update-server/uploads/launcher
/frontend-electron-launcher/main/.valkream-launcher-data
backend-update-server/uploads/game/latest/build-game-win32.zip
backend-update-server/uploads/game/latest/BepInEx-5.4.2202.zip
