**/node_modules/
**/build/
**/data/
**/temp/
**/dist/


# backend/public/
backend/public/launcher

backend/public/games/Valheim/latest/build-game-*.zip
backend/public/games/Valheim/latest/BepInEx-*.zip

backend/public/games/SevenDtoD/latest/files
backend/public/games/SevenDtoD/latest/beta-files
backend/public/games/SevenDtoD/latest/build-game-*.zip
