@import "theme.css";

@import "./utils/font.css";
@import "./utils/microtip.css";
@import "./utils/popup.css";
@import "./utils/snackbar.css";

body {
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--color);
  font-family: "Poppins";
  font-weight: bolder;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

* {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 4px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-corner {
  background: var(--background);
}
