.loader-container {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.loader-container.hidden {
  opacity: 0;
}

.loader-container .img-loader {
  max-height: 4cm;
  position: absolute;
  max-width: 4cm;
  animation: up-anim 1.5s linear forwards;
}

.loader-container .spinner {
  border-color: #3d5af1 transparent transparent transparent !important;
  width: 64px;
  height: 64px;
  border: 8px solid;
  position: relative;
  top: 3cm;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite, opacity 3s linear forwards;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes up-anim {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-2cm);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
