.wait-container {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  flex-direction: column;
  opacity: 0.7;
  transition: opacity 1.5s ease-in-out;
}
.wait-container.hidden {
  opacity: 0;
}

.wait-container .spinner {
  border-color: #3d5af1 transparent transparent transparent !important;
  width: 64px;
  height: 64px;
  border: 8px solid;
  position: relative;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wait-container .wait-text {
  margin-top: 24px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  white-space: pre-line;
}
