.modern-theme .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50vh;
  transform: translateY(-50%);
  left: calc(100vw - 32px - 90px);
  max-height: 10cm;
  margin-bottom: 1rem;
}

.modern-theme .link {
  display: flex;
  background: var(--background-transparent) !important;
  width: 90px;
  height: 90px;
  margin-bottom: 1rem !important;
  border-radius: 10px !important;
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-in-out;
}

.modern-theme .link:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.modern-theme .link:hover {
  background: var(--secondary-color) !important;
}

.modern-theme .link svg {
  pointer-events: none;
  background-repeat: no-repeat;
  height: 55%;
  width: 55%;
  filter: var(--svg-color);
}
