<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <link
      rel="stylesheet"
      href="../../../assets/css/windows/updater/updater.css"
    />
    <title>Valkream Launcher</title>
  </head>
  <body style="background-color: black">
    <!-- Section vidéo de preload -->
    <video id="preload-video" autoplay muted playsinline>
      <source src="../../../assets/video/pre-loading.mp4" type="video/mp4" />
    </video>
    <!-- Section de chargement -->
    <div id="loading-section">
      <div class="loading-content">
        <img
          src="../../../assets/images/icon-with-name.png"
          class="loading-image"
        />
        <div class="loading-spinner">
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
          <div class="spinner-ring"></div>
        </div>
      </div>
      <div id="loading-message">⏳ Recherche de mise à jour...</div>
    </div>
    <!-- Scripts -->
    <script src="./updater.js" type="module"></script>
  </body>
</html>
