.titre-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  text-align: center;
  background: var(--background-transparent);
  color: var(--color);
  margin-top: 2cm;
}

.titre-tab.warn {
  background: red;
  color: white;
}
